<p id="notice"><%= notice %></p>

<h1>Listing Terrains</h1>

<table>
  <thead>
    <tr>
      <th>Elevation</th>
      <th>Groundwater</th>
      <th>Exposure</th>
      <th>Flavour profile</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @terrains.each do |terrain| %>
      <tr>
        <td><%= terrain.elevation %></td>
        <td><%= terrain.groundwater %></td>
        <td><%= terrain.exposure %></td>
        <td><%= terrain.flavour_profile_id %></td>
        <td><%= link_to 'Show', terrain %></td>
        <td><%= link_to 'Edit', edit_terrain_path(terrain) %></td>
        <td><%= link_to 'Destroy', terrain, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Terrain', new_terrain_path %>
