<p id="notice"><%= notice %></p>

<p>
  <strong>Elevation:</strong>
  <%= @terrain.elevation %>
</p>

<p>
  <strong>Groundwater:</strong>
  <%= @terrain.groundwater %>
</p>

<p>
  <strong>Exposure:</strong>
  <%= @terrain.exposure %>
</p>

<p>
  <strong>Flavour profile:</strong>
  <%= @terrain.flavour_profile_id %>
</p>

<%= link_to 'Edit', edit_terrain_path(@terrain) %> |
<%= link_to 'Back', terrains_path %>
