<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @roaster.name %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @roaster.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @roaster.longitude %>
</p>

<p>
  <strong>Country:</strong>
  <%= @roaster.country %>
</p>

<p>
  <strong>Region:</strong>
  <%= @roaster.region %>
</p>

<p>
  <strong>Address:</strong>
  <%= @roaster.address %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @roaster.zip %>
</p>

<%= link_to 'Edit', edit_roaster_path(@roaster) %> |
<%= link_to 'Back', roasters_path %>
