<%= form_for(@roast) do |f| %>
  <% if @roast.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@roast.errors.count, "error") %> prohibited this roast from being saved:</h2>

      <ul>
      <% @roast.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :strength %><br>
    <%= f.number_field :strength %>
  </div>
  <div class="field">
    <%= f.label :flavour_profile_id %><br>
    <%= f.number_field :flavour_profile_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
