<%= form_for(@preparation) do |f| %>
  <% if @preparation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@preparation.errors.count, "error") %> prohibited this preparation from being saved:</h2>

      <ul>
      <% @preparation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :flavour_profile_id %><br>
    <%= f.number_field :flavour_profile_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
