<p id="notice"><%= notice %></p>

<h1>Listing Preparations</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Flavour profile</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @preparations.each do |preparation| %>
      <tr>
        <td><%= preparation.type %></td>
        <td><%= preparation.flavour_profile_id %></td>
        <td><%= link_to 'Show', preparation %></td>
        <td><%= link_to 'Edit', edit_preparation_path(preparation) %></td>
        <td><%= link_to 'Destroy', preparation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Preparation', new_preparation_path %>
