<%= form_for(@bean) do |f| %>
  <% if @bean.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bean.errors.count, "error") %> prohibited this bean from being saved:</h2>

      <ul>
      <% @bean.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :producer_id %><br>
    <%= f.number_field :producer_id %>
  </div>
  <div class="field">
    <%= f.label :roaster_id %><br>
    <%= f.number_field :roaster_id %>
  </div>
  <div class="field">
    <%= f.label :varietal %><br>
    <%= f.text_field :varietal %>
  </div>
  <div class="field">
    <%= f.label :preparation %><br>
    <%= f.text_field :preparation %>
  </div>
  <div class="field">
    <%= f.label :drying %><br>
    <%= f.text_field :drying %>
  </div>
  <div class="field">
    <%= f.label :roast_id %><br>
    <%= f.number_field :roast_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
