<%= form_for(@bean) do |f| %>
  <% if @bean.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bean.errors.count, "error") %> prohibited this bean from being saved:</h2>

      <ul>
      <% @bean.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
 <div class="form-group">
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :location_id %><br>
    <%= f.number_field :location_id %>
  </div>
  <div class="form-group">
    <%= f.label :terrain_id %><br>
    <%= f.number_field :terrain_id %>
  </div>
  <div class="form-group">
    <%= f.label :weather_id %><br>
    <%= f.number_field :weather_id %>
  </div>
  <div class="form-group">
    <%= f.label :cultivation_id %><br>
    <%= f.number_field :cultivation_id %>
  </div>
  <div class="form-group">
    <%= f.label :varietal_id %><br>
    <%= f.number_field :varietal_id %>
  </div>
  <div class="form-group">
    <%= f.label :harvest_id %><br>
    <%= f.number_field :harvest_id %>
  </div>
  <div class="form-group">
    <%= f.label :preparation_id %><br>
    <%= f.number_field :preparation_id %>
  </div>
  <div class="form-group">
    <%= f.label :drying_id %><br>
    <%= f.number_field :drying_id %>
  </div>
  <div class="form-group">
    <%= f.label :roast_id %><br>
    <%= f.number_field :roast_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
</div>
<% end %>
