<p id="notice"><%= notice %></p>

<h1>Listing Beans</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Producer</th>
      <th>Roaster</th>
      <th>Varietal</th>
      <th>Preparation</th>
      <th>Drying</th>
      <th>Roast</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @beans.each do |bean| %>
      <tr>
        <td><%= bean.name %></td>
        <td><%= bean.producer_id %></td>
        <td><%= bean.roaster_id %></td>
        <td><%= bean.varietal %></td>
        <td><%= bean.preparation %></td>
        <td><%= bean.drying %></td>
        <td><%= bean.roast_id %></td>
        <td><%= link_to 'Show', bean %></td>
        <td><%= link_to 'Edit', edit_bean_path(bean) %></td>
        <td><%= link_to 'Destroy', bean, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bean', new_bean_path %>
