<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bean.name %>
</p>

<p>
  <strong>Producer:</strong>
  <%= @bean.producer_id %>
</p>

<p>
  <strong>Roaster:</strong>
  <%= @bean.roaster_id %>
</p>

<p>
  <strong>Varietal:</strong>
  <%= @bean.varietal %>
</p>

<p>
  <strong>Preparation:</strong>
  <%= @bean.preparation %>
</p>

<p>
  <strong>Drying:</strong>
  <%= @bean.drying %>
</p>

<p>
  <strong>Roast:</strong>
  <%= @bean.roast_id %>
</p>

<%= link_to 'Edit', edit_bean_path(@bean) %> |
<%= link_to 'Back', beans_path %>
