<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bean.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @bean.location_id %>
</p>

<p>
  <strong>Terrain:</strong>
  <%= @bean.terrain_id %>
</p>

<p>
  <strong>Weather:</strong>
  <%= @bean.weather_id %>
</p>

<p>
  <strong>Cultivation:</strong>
  <%= @bean.cultivation_id %>
</p>

<p>
  <strong>Varietal:</strong>
  <%= @bean.varietal_id %>
</p>

<p>
  <strong>Harvest:</strong>
  <%= @bean.harvest_id %>
</p>

<p>
  <strong>Preparation:</strong>
  <%= @bean.preparation_id %>
</p>

<p>
  <strong>Drying:</strong>
  <%= @bean.drying_id %>
</p>

<p>
  <strong>Roast:</strong>
  <%= @bean.roast_id %>
</p>

<%= link_to 'Edit', edit_bean_path(@bean) %> |
<%= link_to 'Back', beans_path %>
