<%= form_for(@flavour_profile) do |f| %>
  <% if @flavour_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flavour_profile.errors.count, "error") %> prohibited this flavour_profile from being saved:</h2>

      <ul>
      <% @flavour_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_field :body %>
  </div>
  <div class="field">
    <%= f.label :fruit_notes %><br>
    <%= f.number_field :fruit_notes %>
  </div>
  <div class="field">
    <%= f.label :spice_notes %><br>
    <%= f.number_field :spice_notes %>
  </div>
  <div class="field">
    <%= f.label :chocolate_notes %><br>
    <%= f.number_field :chocolate_notes %>
  </div>
  <div class="field">
    <%= f.label :grain_notes %><br>
    <%= f.number_field :grain_notes %>
  </div>
  <div class="field">
    <%= f.label :roast_notes %><br>
    <%= f.number_field :roast_notes %>
  </div>
  <div class="field">
    <%= f.label :floral_notes %><br>
    <%= f.number_field :floral_notes %>
  </div>
  <div class="field">
    <%= f.label :nut_notes %><br>
    <%= f.number_field :nut_notes %>
  </div>
  <div class="field">
    <%= f.label :sugar_notes %><br>
    <%= f.number_field :sugar_notes %>
  </div>
  <div class="field">
    <%= f.label :savory_notes %><br>
    <%= f.number_field :savory_notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
