<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @flavour_profile.body %>
</p>

<p>
  <strong>Fruit notes:</strong>
  <%= @flavour_profile.fruit_notes %>
</p>

<p>
  <strong>Spice notes:</strong>
  <%= @flavour_profile.spice_notes %>
</p>

<p>
  <strong>Chocolate notes:</strong>
  <%= @flavour_profile.chocolate_notes %>
</p>

<p>
  <strong>Grain notes:</strong>
  <%= @flavour_profile.grain_notes %>
</p>

<p>
  <strong>Roast notes:</strong>
  <%= @flavour_profile.roast_notes %>
</p>

<p>
  <strong>Floral notes:</strong>
  <%= @flavour_profile.floral_notes %>
</p>

<p>
  <strong>Nut notes:</strong>
  <%= @flavour_profile.nut_notes %>
</p>

<p>
  <strong>Sugar notes:</strong>
  <%= @flavour_profile.sugar_notes %>
</p>

<p>
  <strong>Savory notes:</strong>
  <%= @flavour_profile.savory_notes %>
</p>

<%= link_to 'Edit', edit_flavour_profile_path(@flavour_profile) %> |
<%= link_to 'Back', flavour_profiles_path %>
